# Compiled class file
*.class

#IntelliJ
.idea/

# Log file
*.log

#Config
*.properties

#Target
target/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
*.iml